* {
    font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive, sans-serif !important;
}

body {
    margin: 0;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
}

header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #2e7d32; /* Cor verde ao passar o mouse */
}

section {
    padding: 40px 20px;
    border-bottom: 1px solid #ddd;
}

img {
    width: 250px;
    border-radius: 8px; /* Deixa as bordas das fotos arredondadas */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2e7d32; /* Títulos em verde para combinar com Agro */
}

p {
    max-width: 700px;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: auto;
}

input, textarea, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1b5e20;
}
