* {
    font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive, sans-serif !important;
}

/* Estilização básica para o site não ficar em branco */
body {
    background-color: #f0f4f8;
    color: #2c3e50;
    padding: 20px;
    line-height: 1.5;
}
